<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="styles.css">

    
</head>
<body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class="logo">BANCO NFTS</a>

                <nav class="navigation">
                    <ul>
                        
                    </ul>
                </nav>
            </div>
        </header>
        
        <main class="main">
            <div class="container container-main">
                <h1>Bienvenido a su Banco NFTS.</h1>
                <b>Por favor elija una opcion.</b>

                <nav class="navigation">
                    <ul>
                        <li><a href="p2_v2">Registro</a></li>
                        <li><a href="p3_v2">Ingresar</a></li>
                    </ul>
                </nav>

            </div>
        </main>
        
        <footer class="footer">
            <div>
                <p>Derechos reservados a nombre de F&N Asociados.</p>
            </div>
        </footer>

    </body>
    <script src="app.js"></script>
  <script>
    const errorMessage = window.error;

    // Verificar si hay un mensaje de error presente
    if (errorMessage) {
      // Mostrar una alerta con el mensaje de error
      alert(errorMessage);
    }
  </script>
    </html>