<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transferir </title>
    <link rel="stylesheet" href="styles.css">
    <script src="app.js"></script>
    
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">TRANSFERENCIAS</a>

            <nav class="navigation">
                <ul>
                    <li><a href="p1_v2">Principal</a></li>

                    <li><a href="p5_v2">Estado de cuenta</a></li>
                    <li><a href="p6_v2">Recargar</a></li>
                    <li><a href="p1_v2">Cerrar sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <form action="/transferencia" method="post" class="form-register">
        <div class="form-transfer">
            <h4>Transferir</h4>
        <p>el monto maximo a transferir es de $300.000.</p>
        </div>
        
        <input class="controls" type="email" id="usuario" name="usuario" required placeholder="Ingrese correo del destinatario">
        <input class="controls" type="number" id="monto" name="monto" required placeholder="Ingrese el monto">
        <input class="controls" type="text" id="glosa" name="glosa" required placeholder="Glosa">
        <input class="controls" type="text" id="movimiento" name="movimiento" required required placeholder="Ingrese movimiento de Transferencia">
        
        <input class="botons" type="submit" value="Confirmar transferencia">
    </form>

    <footer class="footer">
        <div>
            <p>Derechos reservados a nombre de F&N Asociados.</p>
        </div>
    </footer>

</body>

</html>