<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estado de cuenta</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">Estado de cuenta</a>

            <nav class="navigation">
                <ul>
                    <li><a href="p4_v2">Transferir</a></li>
                    <li><a href="p6_v2">Recargar Saldo</a></li>
                    <li><a href="p7_v2">Retirar Saldo</a></li>
                    <li><a href="p1_v2">Cerrar sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-table" id="transferencias-container">
        <table>
            <thead>
                <tr>
                    <th>Movimiento</th>
                    <th>Monto</th>
                    <th>Correo Receptor</th>
                    <th>Glosa</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {{#each transferencias}}
                <tr>
                    <td>{{movimiento}}</td>
                    <td>{{monto}}</td>
                    <td>{{usuario}}</td>
                    <td>{{glosa}}</td>
                    <th>{{fecha}}</th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div>
            <p>Derechos reservados a nombre de F&N Asociados.</p>
        </div>
    </footer>

    <script src="app.js"></script>
    <script id="transferencias-template" type="text/x-handlebars-template">
        <tbody>
            {{#each this}}
            <tr>
                <td>{{movimiento}}</td>
                <td>{{monto}}</td>
                <td>{{usuario}}</td>
                <td>{{glosa}}</td>
                <th>{{fecha}}</th>
            </tr>
            {{/each}}
        </tbody>
    </script>
    <script>
        fetch('transferencias.json')
            .then(response => response.json())
            .then(data => {
                const template = Handlebars.compile(document.getElementById('transferencias-template').innerHTML);
                const html = template(data);
                document.getElementById('transferencias-container').innerHTML = html;
            })
            .catch(error => console.error('Error al cargar los datos:', error));
    </script>
</body>
</html>
