<!DOCTYPE html>
<html>
<head>
  <title>Usuarios</title>
</head>
<body>
  <h1>Usuarios</h1>

  <ul>
    {{#each users}}
    <li>{{name}} - {{email}}</li>
    {{/each}}
  </ul>
</body>
</html>
