<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transferir </title>
    <link rel="stylesheet" href="styles.css">

    
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">TRANSFERENCIAS</a>

            <nav class="navigation">
                <ul>
                    <li><a href="p1_v2">Principal</a></li>

                    <li><a href="p5_v2">Estado de cuenta</a></li>
                    <li><a href="p6_v2">Recargar</a></li>
                    <li><a href="p1_v2">Cerrar sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="form-register">
        <div class="form-transfer">
            <h4>Transferir</h4>
        <p>el monto maximo a transferir es de $300.000.</p>
        </div>
        
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="number" name="monto" id="monto" placeholder="Ingrese el monto">
        <input class="controls" type="text" name="glosa" id="glosa" placeholder="Glosa">
        
        <input class="botons" type="submit" value="Confirmar transferencia">
      </section>

      <footer class="footer">
        <div>
            <p>Derechos reservados a nombre de F&N Asociados.</p>
        </div>
    </footer>

</body>
<script src="app.js"></script>

</html>