<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recargar </title>
    <link rel="stylesheet" href="styles.css">

    
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo">RECARGAR</a>

            <nav class="navigation">
                <ul>
                    

                    <li><a href="p4_v2.html">Transferir</a></li>
                    <li><a href="p5_v2.html">Estado de cuenta</a></li>
                    <li><a href="p6_v2.html">Recargar</a></li>
                    <li><a href="p1_v2.html">Cerrar sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    

    <footer class="footer">

        <div>
            <p>Derechos reservados a nombre de F&N Asociados.</p>
        </div>
    </footer>
</body>
<script src="app.js"></script>
</html>